.canvas-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    .canvas-loader {
      width: 50px;
      height: 50px;
      border: 5px solid #fff;
      border-top: 5px solid #3498db;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  
    p {
      font-size: 14px;
      color: #f1f1f1;
      font-weight: 800;
      margin-top: 40px;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  